.box{
    border: 1px solid black;
    margin-top: 2rem;
}

div.container.p-3.boxusertask {
    margin-top: 2rem;

    position: absolute;
    left: 130px;
    background: white;
    width: 8%;
    height: 6%;
    top: -22px;
}